$backgroundColor: #ffffff;
$fontColor: #334155;
$bodyFont: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$linkColor: #075985;
$highlightColor: #db2777;

body {
  background: $backgroundColor;
  color: $fontColor;
  font-family: $bodyFont;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: inherit;
}
