$backgroundColor: #ffffff;
$fontColor: #334155;
$linkColor: #075985;
$highlightColor: #db2777;

body {
  background: $backgroundColor;
  color: $fontColor;
  text-align: center;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header {
  background: $linkColor;

  a {
    color: $highlightColor;
  }
}
